body {
  background-color: rgb(201, 187, 186);
  color: rgb(87, 99, 59);
}
h1 {
  font-family: Arial, Verdana, sans-serif;
  font-style: normal;
  font-size: 2em;
  width: 100%;
  margin: 50px 0px;
  padding: 0px;
  text-align: center;
}
#landscape {
  margin: 0px 0px;
  padding: 0px;
  width: 100%;
  height: 300px;
  background-image: url('../images/background.png');
  background-repeat: repeat-x;
  background-position: center center;
  cursor: pointer;
  text-align: center;
  position: relative;
}
.level {
  margin: 0px auto;
  margin-left: -300px;
  width: 600px;
  height: 300px;
  display: inline-block;
  position: absolute;
  top: 0px;
  left: 50%;
}
#level-0 {
  z-index: 3;
}
#level-1 {
  z-index: 2;
}
#level-1 .element {
  -webkit-transform: scale(.8);
  -moz-transform: scale(.8);
  -o-transform: scale(.8);
  transform: scale(.8);
}
#level-2 {
  z-index: 1;
}
#level-2 .element {
  -webkit-transform: scale(.6);
  -moz-transform: scale(.6);
  -o-transform: scale(.6);
  transform: scale(.6);
}
.element {
  margin: 0px;
  padding: 0px;
  position: absolute;
  border: 1px solid black;
  -webkit-transform-origin: 0px 0px;
  -moz-transform-origin: 0px 0px;
  -o-transform-origin: 0px 0px;
  transform-origin: 0px 0px;
}